.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    width: 100%;
    margin-top: 0;
    padding-top: 2px;
    .dropdown-menu-wrapper {
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
        border-radius: 4px;
        border: 1px solid rgba(0,0,0,0.2);
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            a {
                display: block;
                padding: 0.2em 0.8em;
                text-decoration: none;
                background: #fff;
                color: #333333;
                cursor: pointer;
                //pointer-events: none;
                &:hover {
                    background: #BBBBBB;
                }
            }
        }
    }
}
.dropdown:hover .dropdown-menu {
    //display: block;
    &.display-menu{
        display: block;
    }

}
.dropdown button {
    background: #3e8acc;
    color: #FFFFFF;
    border: 1px solid #2c70ab;
    margin: 0;
    cursor: pointer;
    padding: 0.6em 1.8em 0.8em 0.6em;
    @media screen and (max-width: 600px) {
        padding: 0.4em 1.8em 0.4em 0.4em;
    }
    font-size: 1em;
    border-radius: 4px;
    position: relative;
    .txt {
        margin-right: 0.5em;
        text-transform: uppercase;
        @media screen and (max-width: 600px) {
            font-size: 0.9em;
        }
    }
    div {
        width: 1.8em;
        line-height: 2.2em;
        @media screen and (max-width: 600px) {
            line-height: 1.8em;
        }
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 0 4px 4px 0;
        .caret {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 0;
            vertical-align: middle;
            border-top: 4px dashed;
            border-top: 4px solid\9;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
        }
    }
    &:hover div {
        background-color: #2c70ab;
        box-shadow: inset 0 0 0.2em 0.2em rgba(0,0,0,0.1);
    }
}
